.adv-blocks-group-wrapper,
.blocks-group-wrapper_adv {
    box-sizing: border-box;
    display: block;
    font-size: 16px;
    height: 1117.57px;
    line-height: 16px;
    overflow-wrap: break-word;
    position: static;
    vertical-align: baseline;
    width: 320.301px;
    -webkit-font-smoothing: antialiased;
}

.res-blocks-group-wrapper,
.blocks-group-wrapper_res {
    box-sizing: border-box;
    color: rgb(34, 42, 53);
    display: block;
    font-size: 16px;
    height: 724.659px;
    line-height: 16px;
    overflow-wrap: break-word;
    position: relative;
    vertical-align: baseline;
    width: 320.301px;
    z-index: auto;
    -webkit-font-smoothing: antialiased;
}

.block-wrapper,
.w-block-wrapper,
.block-wrapper-3Um,
.background_3lr,
.background,
.background--dark,
.w-state-has-background {
    box-sizing: border-box;
    color: rgb(225, 225, 225);
    display: flex;
    font-size: 16px;
    height: 1117.57px;
    line-height: 16px;
    overflow-wrap: break-word;
    position: static;
    vertical-align: baseline;
    width: 320.301px;
    z-index: auto;
    -webkit-font-smoothing: antialiased;
}

.why-choose-us {
    box-sizing: border-box;
    color: rgb(225, 225, 225);
    display: none;
    font-size: 16px;
    height: auto;
    line-height: 16px;
    overflow-wrap: break-word;
    vertical-align: baseline;
    width: auto;
    -webkit-font-smoothing: antialiased;
}

.adv-block-background,
.background-wrapper_adv {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(225, 225, 225);
    display: block;
    font-size: 16px;
    height: 1117.57px;
    left: 0px;
    line-height: 16px;
    overflow-wrap: break-word;
    position: absolute;
    right: 0px;
    top: 0px;
    vertical-align: baseline;
    width: 320.301px;
    z-index: 0;
    -webkit-font-smoothing: antialiased;
}

.background_adv,
.background--fixed_adv {
    bottom: 0px;
    color: rgb(225, 225, 225);
    box-sizing: border-box;
    display: block;
    filter: grayscale(1);
    font-size: 16px;
    height: 1117.57px;
    left: 0px;
    line-height: 16px;
    overflow-wrap: break-word;
    position: absolute;
    right: 0px;
    top: 0px;
    vertical-align: baseline;
    width: 320.301px;
    -webkit-font-smoothing: antialiased;
}

.background-overlay_adv {
    background: rgba(34, 42, 53, 0.95);
    bottom: 0px;
    color: rgb(225, 225, 225);
    box-sizing: border-box;
    display: block;
    font-size: 16px;
    height: 1117.57px;
    left: 0px;
    line-height: 16px;
    overflow-wrap: break-word;
    position: absolute;
    right: 0px;
    top: 0px;
    vertical-align: baseline;
    width: 320.301px;
    -webkit-font-smoothing: antialiased;
}

.adv-section {
    box-sizing: border-box;
    color: rgb(225, 225, 225);
    display: block;
    flex-basis: 100%;
    flex-shrink: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400px;
    height: 1117.57px;
    line-height: 24px;
    min-width: 320px;
    overflow-wrap: break-word;
    padding-bottom: 90px;
    padding-top: 90px;
    position: relative;
    vertical-align: baseline;
    width: 320.301px;
    z-index: 1;
    -webkit-font-smoothing: antialiased;
}

.adv-section__inner {
    box-sizing: border-box;
    color: rgb(225, 225, 225);
    display: block;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400px;
    height: 937.576px;
    line-height: 24px;
    max-width: 1200px;
    overflow-wrap: break-word;
    vertical-align: baseline;
    width: 320.301px;
    -webkit-font-smoothing: antialiased;
}

.adv-section__header {
    box-sizing: border-box;
    color: rgb(225, 225, 225);
    display: block;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    line-height: 24px;
    font-weight: 400px;
    height: 312.694px;
    overflow-wrap: break-word;
    vertical-align: baseline;
    width: 272.31px;
    -webkit-font-smoothing: antialiased;
}

.adv-grid,
.adv-grid--row,
.adv-grid--gap {
    box-sizing: border-box;
    color: rgb(225, 225, 225);
    display: flex;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400px;
    height: 312.694px;
    justify-content: center;
    line-height: 24px;
    overflow-wrap: break-word;
    vertical-align: baseline;
    width: 272.31px;
    -webkit-box-pack: center;
    -webkit-font-smoothing: antialiased;
}

.adv-grid__inner {
    box-sizing: border-box;
    color: rgb(225, 225, 225);
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400px;
    height: 312.694px;
    line-height: 24px;
    margin-left: -15px;
    margin-right: -15px;
    overflow-wrap: break-word;
    vertical-align: baseline;
    width: 302.303px;
    -webkit-font-smoothing: antialiased;
}

.adv-grid__item,
.adv-grid__item--top {
    box-sizing: border-box;
    color: rgb(225, 225, 225);
    display: flex;
    flex-basis: 100%;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400px;
    height: 312.694px;
    line-height: 24px;
    overflow-wrap: break-word;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: baseline;
    width: 302.303px;
    -webkit-font-smoothing: antialiased;
}

.adv-grid__item-inner,
.adv-grid__item-panel,
.adv-text-center,
.adv-088754deb0dd8820b733e12d9894218e {
    box-sizing: border-box;
    color: rgb(225, 225, 225);
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400px;
    height: 312.694px;
    line-height: 24px;
    max-width: 100%;
    min-width: 0px;
    overflow-wrap: break-word;
    text-align: center;
    vertical-align: baseline;
    width: 272.31px;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-box-pack: start;
    -webkit-font-smoothing: antialiased;
}

.text_1k0,
.ui-blockTitle,
.w-title,
.ui-blockTitle--light {
    box-sizing: border-box;
    color: rgb(225, 225, 225);
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    height: 196.505px;
    justify-content: center;
    letter-spacing: normal;
    line-height: 28.08px;
    margin-block-start: 25px;
    margin-top: 25px;
    text-decoration-line: none;
    text-decoration-style: solid;
    min-width: 100%;
    overflow-wrap: break-word;
    position: relative;
    text-align: center;
    text-transform: none;
    vertical-align: baseline;
    width: 272.31px;
    -webkit-box-direction: normal;
    -webkit-box-pack: center;
    -webkit-font-smoothing: antialiased;
}

.adv-text-block {
    box-sizing: border-box;
    color: rgb(225, 225, 225);
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 38px;
    font-style: normal;
    font-weight: 800;
    height: 91.1889px;
    letter-spacing: normal;
    line-height: 45.6px;
    overflow-wrap: break-word;
    text-align: center;
    text-transform: none;
    vertical-align: baseline;
    width: 272.31px;
    -webkit-box-direction: normal;
    -webkit-font-smoothing: antialiased;
}

.adv-text-content-why {
    box-sizing: border-box;
    color: rgb(225, 225, 225);
    display: inline;
    font-family: 'Poppins', sans-serif;
    font-size: 38px;
    font-style: normal;
    font-weight: 800;
    height: auto;
    letter-spacing: normal;
    line-height: 45.6px;
    overflow-wrap: break-word;
    text-align: center;
    text-transform: none;
    vertical-align: baseline;
    width: auto;
    -webkit-box-direction: normal;
    -webkit-font-smoothing: antialiased;
}

.adv-text-content {
    box-sizing: border-box;
    color: rgb(225, 225, 225);
    display: inline;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    height: auto;
    letter-spacing: normal;
    line-height: 28.08px;
    overflow-wrap: break-word;
    text-align: center;
    text-transform: none;
    vertical-align: baseline;
    width: auto;
    -webkit-box-direction: normal;
    -webkit-font-smoothing: antialiased;
}

.h2 {
    display: block;
    font-weight: bold;
    font-size: 1.5em;
}

.adv-section__content {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 579.887px;
    line-height: 24px;
    margin-top: 45px;
    width: 272.31px;
    overflow-wrap: break-word;
    vertical-align: baseline;
}

.adv-section__content--grid,
.adv-section__content-grid--row,
.adv-section__content-grid--gap {
    box-sizing: border-box;
    color: rgb(225, 225, 225);
    display: flex;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400px;
    width: 272.31px;
    height: 579.887px;
    justify-content: center;
    line-height: 24px;
    overflow-wrap: break-word;
    vertical-align: baseline;
    width: 272.31px;
    -webkit-box-pack: center;
    -webkit-font-smoothing: antialiased;
    -moz-box-pack: center;
}

.adv-section__content-grid__inner {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 579.887px;
    line-height: 24px;
    margin-left: -15px;
    margin-right: -15px;
    overflow-wrap: break-word;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    width: 302.303px;
}

.adv-section__content-__item, 
.adv-section__content-__item--top {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: flex;
    flex-basis: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 159.962px;
    line-height: 24px;
    overflow-wrap: break-word;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: baseline;
    width: 302.303px;
}

.adv-section__content-grid__item-inner, 
.adv-section__content-grid__item-panel, 
.adv-section__content-grid-text-left,
.adv-section__content-grid-088754deb0dd8820b733e12d9894218e {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    justify-content: flex-start;
    line-height: 24px;
    max-width: 100%;
    min-width: 0px;
    overflow-wrap: break-word;
    text-align: left;
    vertical-align: baseline;
    width: 272.31px;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-box-pack: start;
    -webkit-font-smoothing: antialiased;
}

.adv-section__content-list-with-media-wrapper {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 159.962px;
    justify-content: flex-start;
    line-height: 24px;
    overflow-wrap: break-word;
    text-align: left;
    vertical-align: baseline;
    width: 272.31px;
    -webkit-box-direction: normal;
    -webkit-box-pack: start;
    -webkit-font-smoothing: antialiased;
}

.w-7345aaf71473da362ccab0c37fa9a3ca {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    height: 159.962px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-block-end: 0px;
    margin-block-start: 0px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    overflow-wrap: break-word;
    padding-inline-start: 0px;
    position: relative;
    text-align: left;
    width: 272.31px;
    vertical-align: baseline;
    -webkit-box-direction: normal;
    -webkit-font-smoothing: antialiased;
}

.w-088754deb0dd8820b733e12d9894218e,
.icon--md_1zx,
.list-with-media_3xi,
.background--dark_3vP {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: list-item;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 79.9812px;
    line-height: 24px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    overflow-wrap: break-word;
    padding-bottom: 7.5px;
    padding-top: 7.5px;
    position: relative;
    text-align: left;
    width: 272.31px;
    vertical-align: baseline;
    -webkit-box-direction: normal;
    -webkit-font-smoothing: antialiased;
}

.list-with-media__wrapper-content_1Ym {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    height: 64.9906px;
    font-stretch: 100%;
    font-weight: 400;
    line-height: 24px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-left: -7.5px;
    margin-right: -7.5px;
    margin-top: 0px;
    overflow-wrap: break-word;
    text-align: left;
    vertical-align: baseline;
    width: 287.3px;
    -webkit-box-direction: normal;
    -webkit-font-smoothing: antialiased;
}

.list-with-media__media_2iA {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 50px;
    line-height: 24px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 7.5px;
    margin-left: 7.5px;
    margin-right: 7.5px;
    margin-top: 7.5px;
    max-width: 100%;
    overflow-wrap: break-word;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    text-align: center;
    vertical-align: baseline;
    width: 50px;
    -webkit-box-direction: normal;
    -webkit-font-smoothing: antialiased;
}

.w-icon-panel-wrapper {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 50px;
    justify-content: flex-start;
    line-height: 24px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    overflow-wrap: break-word;
    text-align: center;
    vertical-align: baseline;
    width: 50px;
    -webkit-box-direction: normal;
    -webkit-box-pack: start;
    -webkit-font-smoothing: antialiased;
}

.w-icon-panel, 
.w-icon-panel--md, 
.w-disable-decorator {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 50px;
    line-height: 24px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    overflow-wrap: break-word;
    text-align: center;
    vertical-align: baseline;
    width: 50px;
    -webkit-box-direction: normal;
    -webkit-font-smoothing: antialiased;
}

.w-icon-panel__inner,
.background_3lr,
.background,
.background--dark,
//.w-state-has-background {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 50px;
    line-height: 24px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    overflow-wrap: break-word;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    position: relative;
    text-align: center;
    vertical-align: baseline;
}

.background-wrapper_RZ2 {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 50px;
    left: 0px;
    line-height: 24px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    overflow-wrap: break-word;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    right: 0px;
    text-align: center;
    top: 0px;
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-property: opacity;
    transition-timing-function: ease-out;
    vertical-align: baseline;
    width: 50px;
    z-index: 0;
    -webkit-box-direction: normal;
    -webkit-font-smoothing: antialiased;
}

.background_2xT {
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-size-adjust: none;
    font-stretch: 100%;
    font-weight: 400;
    height: 50px;
    left: 0px;
    line-height: 24px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    overflow-wrap: break-word;
    position: absolute;
    right: 0px;
    text-align: center;
    top: 0px;
    vertical-align: baseline;
    width: 50px;
    -webkit-box-direction: normal;
    -webkit-font-smoothing: antialiased;

    background-color: #0167da;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconElement_3D2,
.ui-icon_2oI,
.w-icon,
.ui-icon--light_HAb {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    height: 26.0103px;
    justify-content: center;
    line-height: 24px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    max-width: 100%;
    overflow-wrap: break-word;
    position: relative;
    text-align: center;
    vertical-align: baseline;
    //width: 26.0103px;
    width: 16%;
    -webkit-box-direction: normal;
    -webkit-box-pack: start;
    -webkit-font-smoothing: antialiased;
}

.iconElement__inner_2iN {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: inline;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-size-adjust: none;
    font-stretch: 100%;
    font-weight: 400;
    height: 100%;
    line-height: 24px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    max-width: 100%;
    overflow-wrap: break-word;
    padding-bottom: 0px;
    text-align: center;
    vertical-align: baseline;
    width: auto;
    -webkit-box-direction: normal;
    -webkit-font-smoothing: antialiased;
}

.icon {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: inline;
    fill: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 26.0103px;
    line-height: 24px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    max-height: 100%;
    max-width: 100%;
    overflow-clip-margin: content-box;
    overflow-wrap: break-word;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 26.0103px;
    text-align: center;
    x: 0px;
    y: 0px;
    -webkit-box-direction: normal;
    -webkit-font-smoothing: antialiased;
}

.currentColor {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: inline;
    fill: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: auto;
    line-height: 24px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    overflow-wrap: break-word;
    text-align: center;
    transform-origin: 0px 0px;
    width: auto;
    -webkit-box-direction: normal;
    -webkit-font-smoothing: antialiased;
}

.list-with-media__content_3aQ, 
.list-with-media--align-left_2cJ {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: flex;
    flex-basis: 0%;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    justify-content: center;
    line-height: 24px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    min-width: 40%;
    height: 50px;
    justify-content: center;
    overflow-wrap: break-word;
    text-align: left;
    vertical-align: baseline;
    width: 207.319px;
    -webkit-box-direction: normal;
    -webkit-box-flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -webkit-font-smoothing: antialiased;
}

.adv-list--description {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 48.0028px;
    line-height: 24px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    overflow-wrap: break-word;
    text-align: left;
    vertical-align: baseline;
    width: 207.319px;
    -webkit-box-direction: normal;
    -webkit-font-smoothing: antialiased;
}

.list-with-media__heading_Jzx,
.text_1k0,
.ui-text,
.w-body,
.ui-text--light {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    height: 48.0028px;
    letter-spacing: 0.8px;
    line-height: 24px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-block-end: 0px;
    margin-block-start: 0px;
    margin-inline-end: 5px;
    margin-inline-start: 0px;
    margin-right: 5px;
    max-width: 100%;
    overflow-wrap: break-word;
    position: relative;
    text-align: left;
    text-transform: none;
    vertical-align: baseline;
    white-space: pre-wrap;
    width: 202.32px;
    word-break: break-word;
    -webkit-box-direction: normal;
    -webkit-font-smoothing: antialiased;

    text-decoration-color: rgb(255, 255, 255);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
}

.w-text-block {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    height: 48.0028px;
    letter-spacing: 0.8px;
    line-height: 24px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    overflow-wrap: break-word;
    text-align: left;
    text-transform: none;
    vertical-align: baseline;
    white-space: pre-wrap;
    width: 202.32px;
    word-break: break-word;
    -webkit-box-direction: normal;
    -webkit-font-smoothing: antialiased;
}

.w-text-content {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: inline;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    height: auto;
    letter-spacing: 0.8px;
    line-height: 24px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    overflow-wrap: break-word;
    text-align: left;
    text-transform: none;
    vertical-align: baseline;
    white-space: pre-wrap;
    width: auto;
    word-break: break-word;
    -webkit-box-direction: normal;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
}
