.container__header {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header_a_class {
  text-decoration: none;
}

.header__top {
  display: none;
}

@media (min-width: 820px) {
  .header__top {
    background-color: var(--dark-background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header__top__phone {
  margin-left: 60px;
}

.header_top_phone_number {
  color: var(--white-color);
  cursor: pointer;
  letter-spacing: 0.8px;
}

.header__social__networks {
  margin-right: 60px;
}

.header__social__networks__list {
  list-style: none;
  display: flex;
}

.container__for_background__image {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/background-image.jpg);
  background-position: center;
  background-size: cover;
  min-height: 500px;
}

.header__bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header__refresh {
  margin-left: 60px;
  margin-top: 6%;
}

.alonium_refresh {
  color: var(--white-color);
  cursor: pointer;
  font-size: 32px;
  font-style: italic;
  font-weight: 800;
}

.alonium_point_refresh {
  color: var(--button-color);
  cursor: pointer;
  font-size: 32px;
  font-style: italic;
  font-weight: 800;
}

.header__menu {
  display: none;
}

@media (min-width: 820px) {
  .header__menu {
    display: block;
    margin-right: 60px;
    margin-top: 6%;
  }
}

.header__menu__list {
  display: flex;
  list-style: none;
}

.header__menu__item {
  margin-left: 15px;
}

.header__menu__item__link {
  color: var(--white-color);
  cursor: pointer;
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.8px;
}

.container__slogan {
  color: var(--white-color);
  margin-left: 60px;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
}

@media (min-width: 820px) {
  .company__slogan {
    width: 500px;
    margin: 0;
  }
}

.company__slogan__name {
  color: var(--company-clogan-name);
  letter-spacing: 0.896px;
  margin-bottom: 5%;
}

.company__slogan__title {
  font-size: 76px;
  margin-bottom: 5%;
}

.company__slogan__subtitle {
  font-size: 18px;
  margin-bottom: 5%;
}

.header__buttons {
  font-family: var(--main-font);
  font-size: 12px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
}

@media (min-width: 820px) {
  .header__buttons {
    flex-direction: row;
    align-items: flex-start;
  }
}

.button__learn__more,
.button__request__quote {
  border: 3px solid grey;
  border-radius: 10px;
  cursor: pointer;
  padding: 20px 30px;
  text-align: center;
  margin: 10px 10px 10px 0px;
}

.button__learn__more {
  background-color: var(--color-for-point);
}

.button__learn__more:hover {
  background-color: var(--white-color);
}

.learn__more {
  color: var(--white-color);
}

.learn__more:hover {
  color: var(--color-for-point);
}

.button__request__quote:hover {
  background: var(--white-color);
}

.request__quote {
  color: var(--white-color);
}
.request__quote:hover {
  color: var(--color-for-point);
}
