.music-container {
  background-color: var(--dark-background-color);
  display: flex;
}

.navigation {
  display: flex;
  align-items: center;
  z-index: 1;
}

.action-btn {
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
  border-radius: 15px;
}

.action-btn.action-btn-big {
  font-size: 20px;
}

.action-btn:focus {
  outline: 0;
}

.music-info {
  background-color: hsla(0, 2%, 66%, 0.502);
  border-radius: 0 0 15px 15px;
  position: absolute;
  padding-left: 80px;
  padding-right: 90px;
  opacity: 0;
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
}

.music-container.play .music-info {
  opacity: 1;
  transform: translateY(+100%);
}

.progress-container {
  margin: 10px 0;
  height: 10px;
}
