.awesome-team-general-bloc {
    display: flex;
}

.awesome-team-general-block-background {
    background-image: url(../images/background-our-awesome-team.jpg);
    background-size: cover;
}

/*максимально розтягує картинку*/
.block__head-our-team_container__team {
    text-align: center;
    color: #fff;
    font-size: 16px;
}

.name-partner {
    display: flex;
    flex-direction: column;
    color: #fff;
    text-align: left;
    padding: 10px;
}

name-partner-team {
    display: flex;
    flex-direction: column;
    color: #fff;
    text-align: left;
    padding: 10px;
}

.partner {
    font-size: inherit;
    font-family: 'Saira', sans-serif;
    color: gray;
    text-align: left;
}

.testimonials {
    text-align: center;
    margin: 0;
    padding: 40px;
    background-color: white;
}

.header-testimonials {
    font-size: 20px;
}

.colortext-point {
    color: blue;
}

.pname-partner-team {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

@media (max-width: 767px) {
    .photo {
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
    }
}

@media (min-width: 767px) {
    /*Переключає на Div рядок*/
    .photo {
        width: 15em;
        display: block;
        padding: 10px;
    }

    .general-photos-with-text {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        /* вирівнює текст під картинками */
    }
}

@media (min-width: 868px) {
    .photo {
        width: 15em;
        display: block;
        padding: 10px;
    }

    .general-photos-with-text {
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }
}

@media (min-width: 968px) {
    .photo {
        width: 18em;
        display: block;
        padding: 10px;
    }

    .general-photos-with-text {
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }
}

@media (min-width: 1068px) {
    /*Переключає на Div рядок*/
    .photo {
        width: 20em;
        display: block;
        padding: 10px;
    }

    .general-photos-with-text {
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }
}

@media (min-width: 1268px) {
    .photo {
        width: 22em;
        display: block;
        padding: 10px;
    }

    .general-photos-with-text {
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }
}

@media (min-width: 1968px) {
    .photo {
        width: 26em;
        display: block;
        padding: 10px;
    }

    .general-photos-with-text {
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }
}