@import url(./common.css);
@import url('href="https://fonts.googleapis.com/css2?family=Crimson+Pro');

* {
       padding: 0;
    box-sizing: border-box;
}
.block__head-our-team{
    background-image: url(../images/background-our-awesome-team.jpg);  //Чорний фон для блоку 1/2
}

.testimonials{
    background-color: white;
}
.head-name-our{
    color: #fff;
    text-align: center;
}
.our__text-meet{
    color: #fff;
    text-align: center;
    padding: 20, 40;
}
.foto__name-green{
    margin: auto;
    display: flex;
    flex-direction: column;
 
}

.info__green{
    color: #fff;
    text-align: left;
    margin: 0;
    padding: 40px;
}
.info__johnson{
    color: #fff;
    text-align: left;
    margin: 0;
    padding: 40px;

}
.numbers__social-johnson{
    margin: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}
.info__smith{
    color: #fff;
    text-align: left;
    margin: 0;
    padding: 40px;
}
.numbers__social-smith{
    margin: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}


.photo__name-position-text-green{
    font-size: inherit;
    font-family: 'Crimson Pro', serif;
    font-size: 14px;
}

}
.our-aw-team {
    color: #fff;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

.numbers__social-green{
    padding-left: 3rem;
    list-style-type:none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
      }
.numbers__social-fb-green{
    width: 100%;
  height: auto;
   }
.testimonials{
    text-align: center;
    margin: 0;
    padding: 40px;
}
.header-testimonials{
    font-size: 20px;
    font-weight:400200;
}
.colortext-point{
    color: blue;
}
